:root {
  --blackm: #111218;
  --lightblack: #1f212b;
  --hover: #50536e;
  --whitem: #d4d4ea;
  --offwhite: #BFBFDB;
  --offwhite2: #9696b0;
  --greenm: #94ff00;
  --bluem: #322ac1;
}

body{
  background-image: linear-gradient(var(--blackm), var(--lightblack));
  color: var(--whitem);
  font-family: Helvetica, Arial, sans-serif;
}

/*NAV AND FOOTER*/
/*VVVVVVVVVVVVVV*/

nav{
  background-color: var(--greenm);
  text-align: center;
  padding: 1px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  :hover{
    color: var(--hover);
  }

}

nav ul{
  
  display: flex;
  justify-content: center;
  gap: 20px;

}

nav a{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  gap: 30px;
  color: var(--blackm);
}

footer{
  background-color: var(--greenm);
  padding: 1.5em;
  gap: 30px;
  
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: var(--blackm);

  :hover{
    color: var(--hover);
  }
}

footer a{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  gap: 30px;
  color: var(--blackm);
  padding: 1.5em;

  
}

/*MAIN AND HEADERS*/
/*VVVVVVVVVVVVVVVV*/

main{
  margin: 3em;
}

h1{
  font-size: 45px;
  text-align: center;
  padding-top: 1.5em;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

/*CONTENT*/
/*VVVVVVV*/

p{
  font-size: 18px;
  color: var(--offwhite);
}

.mainp{
  text-align: center;

}

.linkref a{
  text-decoration: underline;
  color: var(--offwhite);

  :hover{
    color: white;

  }

}

.psub{
  font-style: italic;
  font-size: 15px;
  text-align: center;
  color: var(--offwhite2);
}

.subtext{
  font-style: italic;
  font-size: 10px;
  text-align: center;
  color: var(--offwhite2);
}

.homesection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section{
    margin-left: 2em;
    margin-right: 2em;
    flex: 1;
    
}

/*TABLES*/
/*VVVVVV*/

table {
    border: 2px solid var(--bluem);
    border-collapse: collapse;
}

tr:hover {
  background-color: var(--lightblack);
}


td{
    padding: 0.5em;
    border: 2px solid var(--bluem);
    text-align: center;
}



th{
    padding: 0.5em;
    border: 2px solid var(--bluem);
    background-color: var(--bluem);
}

.matchupTable{
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}



/*MISC STYLING*/
/*VVVVVVVVVVVV*/

img {
  max-width: 100%;
  height: auto;

  border: 5px solid var(--bluem);
  border-radius: 10px;
}

.divider{
  background-color: var(--bluem);
  padding: 0.6em;
  margin: 25px;
  border-radius: 10px;
}

.logo{
    display: block;      
    margin-left: auto;   
    margin-right: auto;  
  

    height: 9em;
    width: auto;
    margin-top: none;
    padding: none;
    border: none;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input{
  background-color: var(--blackm); 
  border: 2px solid var(--bluem);
  color: var(--offwhite);
  border-radius: 3px;
}

input [type="submit"]{
  background-color: var(--bluem);
  color: var(--blackm);
}

textarea{
  background-color: var(--blackm); 
  border: 2px solid var(--bluem);
  border-radius: 3px;
  color: var(--offwhite);
  font-family: Helvetica, Arial, sans-serif;
}

select{
  background-color: var(--blackm); 
  border: 2px solid var(--bluem);
  color: var(--offwhite);
  border-radius: 3px;
}



/*Medium Display*/
/*VVVVVVVVVVVVVV*/

@media screen and (min-width: 600px) and (max-width: 1024px){

  .content{
    gap: 3em;
    padding: 5em;
    padding-top: 1em;
  }

  img {
    display: block;      
    margin-left: auto;   
    margin-right: auto;  
    max-width: 70%;     
    height: auto;        
  }

}



/*Large Display*/
/*VVVVVVVVVVVVV*/

@media screen and (min-width: 1024px){

  img {
    display: block;      
    margin-left: auto;   
    margin-right: auto;  
    max-width: 40%;     
    height: auto;        
  }

  .content{
    gap: 3em;
    padding: 7em;
    padding-top: 1em;
  }

}