 * {
    --green: #B2FF00;
    --red: #FF0051;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #EEEEEE;

 }

 body {
    background-color: #FF0051;
    margin: 0px; 
    padding: 0px;

 }

 

 .mainstuff{
    position: relative; 
    display: relative;
    left: 18vw; 
    right: 0vw;
    top: 0px;
    padding: 39px; 
    margin: 0px;
    width: 78vw; 
    font-size: 2rem; 
    background-color: #FFFFFF;
    text-align: center;

    font-family: "Charis SIL";
}

#header{
   color: #FF0051;
   font-size: 6rem;
   padding: 20px;

}

.Question{
   padding-top: 10vw;
   padding-bottom: 2vw;
   font-size: 3rem;
}

.wrongAnswer{
   background-color: #EEEEEE;
   border-radius: 15px;
   padding: 3vw;
   margin: 1vw;
}

.rightAnswer{
   background-color: #EEEEEE;
   border-radius: 15px;
   padding: 3vw;
   margin: 1vw;
}

nav {
    font-family: "Changa";
    position: fixed; 
    top: 4rem; 
    left: 0vw; 
    width: 18vw; 
    height: 100vh; 
    font-size: 2.3vw; 
    font-weight: 700;
    text-decoration: none;
}

nav a {
  text-decoration: none;
}

nav > ul {
    list-style: none;
    color: black;
    font-style: normal;
    text-transform: uppercase;
}

nav > ul > li a, a:visited {
    color: black;
    list-style: none;
    list-style-type: none;

    font-style: normal;
    text-transform: uppercase;
            
}

#menu { 
    position: fixed; 
    top: 1vw; 
    left: 1vw;
    background-color: white;
    width: 60px; 
    height: 60px; 
    border-radius: 20%;
    display: block;
    text-align: center;
    z-index: 10; 
}